

@{
    ViewData["Title"] = "LogOn";

Layout = "~/Views/Shared/_Layout123.cshtml";
}
<style>
    @@media only screen and (max-width: 480px) {
        img {
            width: 100%;
        }
    }

    @@media only screen and (max-width: 800px) {
        img {
            width: 100%;
        }
    }

 @@media only screen and (max-width: 1038px) {
        img {width: 100%; }
    }


    div.row {
        padding: 5px;
    }
</style>

<div>
    <form asp-action="LogOn" method="post" asp-controller="Account">
        <div class="row">
            <div class="col-sm-4">&nbsp;</div>
            <div class="col-sm-8">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header"><img alt="Logo" src="~/Content/Imgaes/logo.png" /></div>
                    <div class="card-body">
                        <div class="row" style="padding:1px;">
                            <div class="col-sm-12"> @Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>                            
                        </div>
                        <div class="row" style="padding:1px;">
                            <div class="col-sm-3"><label class="col-form-label">User Name:</label></div>
                            <div class="col-sm-9"><input type="text" class="form-control" name="userName" /></div>
                        </div>
                        <div class="row" style="padding:1px;">
                            <div class="col-sm-3"><label class="col-form-label">Password:</label></div>
                            <div class="col-sm-9"><input type="password" class="form-control" name="passWord" /></div>
                        </div>
                        <div class="row" style="padding:1px;">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9"><input type="submit" class="btn btn-secondary btn-sm" value="Log In" /></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-7"></div>
        </div>
   </form>
       

</div>


